.parent,.parent-video, .parent-uikit, .parent-credits, .parent-contact {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-column-gap: 20px;
    margin: 75px 75px 0px 75px;
    &.parent{
        grid-template-rows: 0fr minmax(50px,0fr) 0fr minmax(50px,0fr) 0fr minmax(50px,0fr) 0fr minmax(50px,0fr) 0fr minmax(50px,0fr) 0fr minmax(50px,0fr) 0fr minmax(50px,0fr);
    }
    &.parent-video{
        grid-template-rows: 0fr minmax(50px,0fr) 0fr minmax(50px,0fr);
    }
    &.parent-uikit{
        grid-template-rows: 0fr minmax(50px,0fr) 0fr minmax(50px,0fr) 0fr minmax(50px,0fr);
    }
    &.parent-credits{
        grid-template-rows: 0fr minmax(50px,0fr) 0fr minmax(50px,0fr);
    }
    &.parent-contact{
        grid-template-rows: 0fr minmax(50px,0fr);
    }
}

@media (max-width: 1279px) {
    .parent,.parent-video, .parent-uikit, .parent-credits, .parent-contact {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 0px;
        margin: 20px 20px 80px 20px;
        &.parent{
            grid-template-rows: 0fr minmax(50px, 0fr) 0fr minmax(50px, 0fr) 0fr minmax(50px, 0fr) 0fr minmax(50px, 0fr) 0fr minmax(50px, 0fr) 0fr minmax(50px, 0fr) 0fr minmax(50px, 0fr) 0fr;
        }
        &.parent-video{
            grid-template-rows: 0fr minmax(50px,0fr) 0fr minmax(50px,0fr);
        }
        &.parent-uikit{
            grid-template-rows: 0fr minmax(50px,0fr) 0fr minmax(50px,0fr) 0fr minmax(50px,0fr);
        }
        &.parent-credits{
            grid-template-rows: 0fr minmax(50px,0fr) 0fr minmax(50px,0fr);
        }
        &.parent-contact{
            grid-template-rows: 0fr minmax(50px,0fr);
        }
    }
}

@media (min-width: 641px) and (max-width: 1279px) {
    .parent,.parent-video, .parent-uikit, .parent-credits, .parent-contact {
        margin: 20px 40px 0px 40px;
    }
}

@media (min-width: 961px) and (max-width: 1279px) {
    .parent,.parent-video, .parent-uikit, .parent-credits, .parent-contact {
        margin: 20px 40px 100px 40px;
    }
}