@font-face {
  font-family: SchaboCondensed;
  src: url(../assets/SCHABO-Condensed.otf);
}
@font-face {
  font-family: LeagueSpartan;
  src: url(../assets/LeagueSpartan.ttf);
}
html {
  font-size: 187.5%;
} /*30px*/
body {
  font-family: LeagueSpartan;
  font-weight: 400;
  line-height: 1.75;
  background-color: #22333B;
  color: #F2F4F3;
  margin: 0;
}

p {
  margin-bottom: 1rem;
}

h1, h2 {
  margin: 3rem 0 1.38rem;
  font-family: SchaboCondensed;
  font-weight: 400;
  line-height: 1.3;
  color: #F2F4F3;
}

h3, .nav__links, .uikit__links {
  margin: 3rem 0 1.38rem;
  font-family: LeagueSpartan;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 7.451rem;
}

h2 {
  font-size: 4.768rem;
}

h3 {
  font-size: 1.953rem;
}

.nav__links, .uikit__links {
  font-size: 1.563rem;
}

small, .text_small {
  font-size: 0.8rem;
}

.parent {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: 0fr minmax(0, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin: 75px 75px 0px 75px;
}

.preload * {
  transition: none !important;
}

.container, .container-alt {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .slider, .container .slider-alt, .container-alt .slider, .container-alt .slider-alt {
  position: relative;
  width: min(800px, 90vw);
  height: 45vmin;
  overflow: hidden;
}
.container .slider ul, .container .slider-alt ul, .container-alt .slider ul, .container-alt .slider-alt ul {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}
.container .slider-arrow, .container .slider-arrow-alt, .container-alt .slider-arrow, .container-alt .slider-arrow-alt {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
}
.container .arrow-left, .container .arrow-left-alt, .container-alt .arrow-left, .container-alt .arrow-left-alt {
  left: 0.5rem;
  width: 2rem;
  height: 2rem;
  filter: drop-shadow(5px 5px #A63446);
}
.container .arrow-left .arrow-left, .container .arrow-left .arrow-left-alt, .container .arrow-left-alt .arrow-left, .container .arrow-left-alt .arrow-left-alt, .container-alt .arrow-left .arrow-left, .container-alt .arrow-left .arrow-left-alt, .container-alt .arrow-left-alt .arrow-left, .container-alt .arrow-left-alt .arrow-left-alt {
  right: 0;
  width: 0;
  height: 0;
  filter: none;
  cursor: pointer;
  transition: fill 0.3s;
}
.container .arrow-left .arrow-left:hover, .container .arrow-left .arrow-left-alt:hover, .container .arrow-left-alt .arrow-left:hover, .container .arrow-left-alt .arrow-left-alt:hover, .container-alt .arrow-left .arrow-left:hover, .container-alt .arrow-left .arrow-left-alt:hover, .container-alt .arrow-left-alt .arrow-left:hover, .container-alt .arrow-left-alt .arrow-left-alt:hover {
  fill: #A63446;
}
.container .arrow-left .arrow-left, .container .arrow-left-alt .arrow-left, .container-alt .arrow-left .arrow-left, .container-alt .arrow-left-alt .arrow-left {
  fill: #22333B;
}
.container .arrow-left .arrow-left-alt, .container .arrow-left-alt .arrow-left-alt, .container-alt .arrow-left .arrow-left-alt, .container-alt .arrow-left-alt .arrow-left-alt {
  fill: #F2F4F3;
}
.container .arrow-right, .container .arrow-right-alt, .container-alt .arrow-right, .container-alt .arrow-right-alt {
  right: 0.5rem;
  width: 2rem;
  height: 2rem;
  filter: drop-shadow(5px 5px #A63446);
}
.container .arrow-right .arrow-right, .container .arrow-right .arrow-right-alt, .container .arrow-right-alt .arrow-right, .container .arrow-right-alt .arrow-right-alt, .container-alt .arrow-right .arrow-right, .container-alt .arrow-right .arrow-right-alt, .container-alt .arrow-right-alt .arrow-right, .container-alt .arrow-right-alt .arrow-right-alt {
  right: 0;
  width: 0;
  height: 0;
  filter: none;
  cursor: pointer;
  transition: fill 0.3s;
}
.container .arrow-right .arrow-right:hover, .container .arrow-right .arrow-right-alt:hover, .container .arrow-right-alt .arrow-right:hover, .container .arrow-right-alt .arrow-right-alt:hover, .container-alt .arrow-right .arrow-right:hover, .container-alt .arrow-right .arrow-right-alt:hover, .container-alt .arrow-right-alt .arrow-right:hover, .container-alt .arrow-right-alt .arrow-right-alt:hover {
  fill: #A63446;
}
.container .arrow-right .arrow-right, .container .arrow-right-alt .arrow-right, .container-alt .arrow-right .arrow-right, .container-alt .arrow-right-alt .arrow-right {
  fill: #22333B;
}
.container .arrow-right .arrow-right-alt, .container .arrow-right-alt .arrow-right-alt, .container-alt .arrow-right .arrow-right-alt, .container-alt .arrow-right-alt .arrow-right-alt {
  fill: #F2F4F3;
}
.container .slider-track, .container .slider-track-alt, .container-alt .slider-track, .container-alt .slider-track-alt {
  height: 100%;
  list-style-type: none;
  display: flex;
  transition: transform 0.8s;
}
.container .slider-slide, .container .slider-slide-alt, .container-alt .slider-slide, .container-alt .slider-slide-alt {
  display: grid;
  place-items: center;
  min-width: 100%;
  height: inherit;
  text-align: center;
  padding: 0px 80px 0px 80px;
  box-sizing: border-box;
}
.container .slider-icon, .container .slider-icon-alt, .container-alt .slider-icon, .container-alt .slider-icon-alt {
  font-size: 2rem;
}
.container .slider-dot, .container .slider-dot-alt, .container-alt .slider-dot, .container-alt .slider-dot-alt {
  width: 0.5rem;
  height: 0.5rem;
  border: none;
  cursor: pointer;
  transition: width 0.3s, background-color 0.3s;
  box-shadow: 5px 5px #A63446;
}
.container .slider-dot:not(:last-child), .container .slider-dot-alt:not(:last-child), .container-alt .slider-dot:not(:last-child), .container-alt .slider-dot-alt:not(:last-child) {
  margin-right: 0.5rem;
}
.container .slider-dot:hover:not(.active), .container .slider-dot-alt:hover:not(.active), .container-alt .slider-dot:hover:not(.active), .container-alt .slider-dot-alt:hover:not(.active) {
  width: 0.75rem;
  background-color: #A63446;
}
.container .slider-dot:hover, .container .slider-dot-alt:hover, .container-alt .slider-dot:hover, .container-alt .slider-dot-alt:hover {
  background-color: #A63446;
}
.container .slider-dot.slider-dot-alt, .container .slider-dot-alt.slider-dot-alt, .container-alt .slider-dot.slider-dot-alt, .container-alt .slider-dot-alt.slider-dot-alt {
  background-color: #F2F4F3;
}
.container .slider-dot.slider-dot, .container .slider-dot-alt.slider-dot, .container-alt .slider-dot.slider-dot, .container-alt .slider-dot-alt.slider-dot {
  background-color: #22333B;
}
.container .active, .container-alt .active {
  width: 2rem;
}

nav {
  grid-column: 1/5;
  grid-row: 1/2;
  display: flex;
  flex-direction: row;
}
nav .nav__title {
  position: relative;
}
nav .nav__title::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0px;
  height: 100px;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../assets/images/prideflag.jpg);
  background-size: cover;
  z-index: -1;
}
nav .nav__links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  flex-grow: 1;
  list-style: none;
}
nav .nav__links .links__el--active a {
  text-decoration: none;
  color: #F2F4F3;
  position: relative;
  transition: color 0.3s;
}
nav .nav__links .links__el--active a::after {
  content: "";
  display: block;
  position: absolute;
  width: calc(100% + 20px);
  left: -10px;
  bottom: -5px;
  margin: 0;
  rotate: 180deg;
  border-bottom: 60px solid #15B097;
  z-index: -1;
  transition: border-bottom 0.3s;
}
nav .nav__links .links__el--active a:hover {
  transition: color 0.3s;
  color: #22333B;
}
nav .nav__links .links__el--active a:hover::after {
  border-bottom: 60px solid #15B097;
  transition: border-bottom 0.3s;
}
nav .nav__links .links__el {
  color: #F2F4F3;
}
nav .nav__links .links__el a {
  text-decoration: none;
  color: #F2F4F3;
  position: relative;
  transition: color 0.3s;
}
nav .nav__links .links__el a::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  bottom: -5px;
  margin: 0;
  rotate: 180deg;
  border-bottom: 20px solid #15B097;
  z-index: -1;
  transition: border-bottom 0.3s, width 0.3s, left 0.3s, transform 0.3s;
}
nav .nav__links .links__el a:hover {
  transition: color 0.3s;
  color: #22333B;
}
nav .nav__links .links__el a:hover::after {
  width: calc(100% + 20px);
  border-bottom: 60px solid #15B097;
  transition: border-bottom 0.3s, width 0.3s, left 0.3s, transform 0.3s;
  transform: translate(10px, 0);
}

.intro {
  grid-column: 1/5;
  grid-row: 2/4;
  background-color: #15B097;
  margin: 0px -75px 0px -75px;
  color: #22333B;
  border-radius: 50px 0px 50px 0px;
  border-top: 10px solid #A63446;
  border-bottom: 10px solid #A63446;
}

.intro__content {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: 0fr minmax(0, 1fr);
  margin: 50px 75px 50px 75px;
}
.intro__content p {
  grid-column: 1/4;
}
.intro__content .intro__graph {
  margin-top: -50px;
  margin-bottom: -50px;
  width: 50%;
  margin-left: 50%;
  grid-column: 4/5;
  grid-row: 1/4;
  background-color: #A63446;
}

.block--1 {
  grid-column: 1/5;
  grid-row: 4/6;
  background-color: #22333B;
  margin: 0px -75px 0px -75px;
  color: #F2F4F3;
  border-radius: 0px 50px 0px 50px;
  border-top: 10px solid #A63446;
  border-bottom: 10px solid #A63446;
}

.block--2 {
  grid-column: 1/5;
  grid-row: 6/8;
  background-color: #15B097;
  margin: 0px -75px 0px -75px;
  color: #22333B;
  border-radius: 50px 0px 50px 0px;
  border-top: 10px solid #A63446;
  border-bottom: 10px solid #A63446;
}
.block--2 .block__titre {
  color: #22333B;
}

.block--3 {
  grid-column: 1/5;
  grid-row: 8/10;
  background-color: #22333B;
  margin: 0px -75px 0px -75px;
  color: #F2F4F3;
  border-radius: 0px 50px 0px 50px;
  border-top: 10px solid #A63446;
  border-bottom: 10px solid #A63446;
}

.block__content {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: 0fr 0fr minmax(0, 1fr);
  margin: 50px 75px 50px 75px;
  z-index: -2;
}
.block__content .block__titre {
  grid-column: 1/3;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0;
  position: relative;
  z-index: 1;
}
.block__content .block__titre::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  height: 75px;
  width: 100%;
  background-color: #A63446;
  z-index: -1;
}
.block__content .image {
  display: flex;
  grid-column: 1/3;
  box-sizing: border-box;
  margin-right: 25px;
  margin-top: 1em;
}
.block__content .image img {
  width: 0;
  height: 0;
  -o-object-fit: cover;
     object-fit: cover;
  min-width: 100%;
  min-height: 100%;
  border-radius: 5px;
}
.block__content .text {
  grid-column: 3/5;
  grid-row: 1/5;
}

.uikit {
  grid-column: 1/5;
  grid-row: 2/4;
  background-color: #22333B;
  margin: 0px -75px 0px -75px;
  color: #F2F4F3;
  border-radius: 50px 0px 50px 0px;
  border-top: 10px solid #A63446;
  border-bottom: 10px solid #A63446;
  z-index: -2;
}

.uikit--alt {
  grid-column: 1/5;
  grid-row: 4/6;
  background-color: #15B097;
  margin: 0px -75px 0px -75px;
  color: #22333B;
  border-radius: 50px 0px 50px 0px;
  border-top: 10px solid #A63446;
  border-bottom: 10px solid #A63446;
  z-index: -2;
}

.uikit__content {
  grid-column: 1/5;
  margin: 50px 75px 50px 75px;
}
.uikit__content .uikit__title {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: #F2F4F3;
}
.uikit__content .uikit__title::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0px;
  height: 100px;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../assets/images/prideflag.jpg);
  background-size: cover;
  z-index: -1;
}
.uikit__content .uikit__subtitle {
  grid-column: 1/3;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0;
  position: relative;
  z-index: 1;
  color: #F2F4F3;
}
.uikit__content .uikit__subtitle::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  height: 75px;
  width: 100%;
  background-color: #A63446;
  z-index: -1;
}
.uikit__content .uikit__links {
  grid-column: 1/3;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
}
.uikit__content .uikit__links .links__el--active a {
  text-decoration: none;
  color: #F2F4F3;
  position: relative;
  transition: color 0.3s;
}
.uikit__content .uikit__links .links__el--active a::after {
  content: "";
  display: block;
  position: absolute;
  width: calc(100% + 20px);
  left: -10px;
  bottom: -5px;
  margin: 0;
  rotate: 180deg;
  border-bottom: 60px solid #15B097;
  z-index: -1;
  transition: border-bottom 0.3s;
}
.uikit__content .uikit__links .links__el--hover a {
  text-decoration: none;
  color: #22333B;
  position: relative;
  transition: color 0.3s;
}
.uikit__content .uikit__links .links__el--hover a::after {
  content: "";
  display: block;
  position: absolute;
  width: calc(100% + 20px);
  left: -10px;
  bottom: -5px;
  margin: 0;
  rotate: 180deg;
  border-bottom: 60px solid #15B097;
  z-index: -1;
  transition: border-bottom 0.3s;
}
.uikit__content .uikit__links .links__el {
  color: #F2F4F3;
}
.uikit__content .uikit__links .links__el a {
  text-decoration: none;
  color: #F2F4F3;
  position: relative;
  transition: color 0.3s;
}
.uikit__content .uikit__links .links__el a::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  bottom: -5px;
  margin: 0;
  rotate: 180deg;
  border-bottom: 20px solid #15B097;
  z-index: -1;
  transition: border-bottom 0.3s, width 0.3s, left 0.3s, transform 0.3s;
}

.uikit__content--alt {
  grid-column: 1/5;
  margin: 50px 75px 50px 75px;
}
.uikit__content--alt .uikit__title {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: #22333B;
}
.uikit__content--alt .uikit__title::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0px;
  height: 100px;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../assets/images/prideflag.jpg);
  background-size: cover;
  z-index: -1;
}
.uikit__content--alt .uikit__subtitle {
  grid-column: 1/3;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0;
  position: relative;
  z-index: 1;
  color: #22333B;
}
.uikit__content--alt .uikit__subtitle::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  height: 75px;
  width: 100%;
  background-color: #A63446;
  z-index: -1;
}
.uikit__content--alt .uikit__links {
  grid-column: 1/3;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
}
.uikit__content--alt .uikit__links .links__el--active a {
  text-decoration: none;
  color: #F2F4F3;
  position: relative;
  transition: color 0.3s;
}
.uikit__content--alt .uikit__links .links__el--active a::after {
  content: "";
  display: block;
  position: absolute;
  width: calc(100% + 20px);
  left: -10px;
  bottom: -5px;
  margin: 0;
  rotate: 180deg;
  border-bottom: 60px solid #22333B;
  z-index: -1;
  transition: border-bottom 0.3s;
}
.uikit__content--alt .uikit__links .links__el--hover a {
  text-decoration: none;
  color: #15B097;
  position: relative;
  transition: color 0.3s;
}
.uikit__content--alt .uikit__links .links__el--hover a::after {
  content: "";
  display: block;
  position: absolute;
  width: calc(100% + 20px);
  left: -10px;
  bottom: -5px;
  margin: 0;
  rotate: 180deg;
  border-bottom: 60px solid #22333B;
  z-index: -1;
  transition: border-bottom 0.3s;
}
.uikit__content--alt .uikit__links .links__el {
  color: #F2F4F3;
}
.uikit__content--alt .uikit__links .links__el a {
  text-decoration: none;
  color: #F2F4F3;
  position: relative;
  transition: color 0.3s;
}
.uikit__content--alt .uikit__links .links__el a::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  bottom: -5px;
  margin: 0;
  rotate: 180deg;
  border-bottom: 20px solid #22333B;
  z-index: -1;
  transition: border-bottom 0.3s, width 0.3s, left 0.3s, transform 0.3s;
}

.credits {
  grid-column: 1/5;
  grid-row: 2/4;
  background-color: #15B097;
  margin: 0px -75px 0px -75px;
  color: #22333B;
  border-radius: 50px 0px 50px 0px;
  border-top: 10px solid #A63446;
  border-bottom: 10px solid #A63446;
}

.credits__content {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: 0fr minmax(0, 1fr);
  margin: 50px 75px 50px 75px;
}
.credits__content p {
  grid-column: 2/5;
}
.credits__content .credits__graph {
  margin-top: -50px;
  margin-bottom: -50px;
  width: 50%;
  margin-right: 50%;
  grid-column: 1/2;
  grid-row: 1/4;
  background-color: #A63446;
}

.footer {
  grid-column: 1/5;
  grid-row: 10/11;
  background-color: #15B097;
  margin: 0px -75px 0px -75px;
  color: #22333B;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer p {
  margin: 10px 75px 0px 75px;
}
.footer p a {
  text-decoration: none;
  color: #22333B;
  transition: 0.3s;
}
.footer p a:hover {
  color: #F2F4F3;
  transition: 0.3s;
}
.footer div {
  display: flex;
  flex-direction: row;
  margin: 10px 75px 0px 75px;
}
.footer div p {
  margin: 0;
}
.footer div p:first-of-type {
  margin-right: 25px;
}/*# sourceMappingURL=app.css.map */