@import 'utils/variables';
@import 'components/type';
@import 'components/navbar';
@import 'components/footer';
@import 'components/grid';

.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
    }

.intro{
    grid-column:1/5;
    grid-row-start: 3;
    background-color: $c-bg-alt;
    margin: 0px -75px 0px -75px;
    color:$c-text-alt;
    border-top: 5px solid $c-accent;
    border-bottom: 5px solid $c-accent;

    .intro__content{
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        grid-template-rows: 0fr 0fr;
        margin: 50px 75px 50px 75px;

        p{
            grid-column: 1 / 4;
        }

        .intro__graph{
            margin-top:-50px;
            margin-bottom:-50px;
            width:25%;
            margin-left:50%;
            grid-column:4/5;
            grid-row: 1/4;
            background-color: $c-accent;
        }
    }
}

.block--1, .block--2, .block--3, .block--4, .block--5, .block--6{
    grid-column:1/5;
    margin: 0px -75px 0px -75px;
    border-top: 5px solid $c-accent;
    border-bottom: 5px solid $c-accent;

    &.block--1, &.block--3, &.block--5{
        color:$c-text;
        background-color: $c-bg;


        &.block--1{
            grid-row-start: 5;
        }
        &.block--3{
            grid-row-start: 9;
        }
        &.block--5{
            grid-row-start: 13;
        }
    }
    &.block--2, &.block--4, &.block--6{
        color:$c-text-alt;
        background-color: $c-bg-alt;


        .block__title{
            color:$c-text-alt;
        }

        &.block--2{
            grid-row-start: 7;
        }
        &.block--4{
            grid-row-start: 11;
        }
        &.block--6{
            grid-row-start: 15;
        }
    }

    &.block--5 img{
        width:100%;
        max-width: 600px;
        max-height: 450px;
        object-fit: cover;
        border-bottom: 10px solid $c-accent;
    }
}

details summary{
    cursor: pointer;
    outline: none;
    font-weight: bold;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border: none;
    background: none;
    color: $c-text-alt;
    transition: .3s;

    &:hover{
        color: $c-text;
        transition: .3s;
    }
}

details[open] summary ~ * {
    animation: sweep .5s ease-in-out;
}

@keyframes sweep {
    0%    {opacity: 0; margin-left: -10px}
    100%  {opacity: 1; margin-left: 0px}
}

.link--alt,.link{
    text-decoration: none;
    white-space: nowrap;
    color:$c-bg;
    position:relative;
    transition: color .3s;
    z-index:1;
    margin-left:5px;

    &::after{
        content: "";
        display: block;
        position:absolute;
        width: 100%;
        left:0px;
        bottom:-5px;
        margin:0;
        rotate:180deg;
        border-bottom: 17px solid $c-accent;
        z-index:-1;
        transition: border-bottom .3s, width .3s, left .3s, transform .3s;
    }
    &:hover{
        transition: color .3s;
        color:$c-bg-alt;
    }
    &:hover::after{
        width: calc(100% + 20px);
        border-bottom: 43px solid $c-accent;
        transition: border-bottom .3s, width .3s, left .3s, transform .3s;
        transform: translate(+10px, 0);
    }

    &.link{
        color:$c-text;

        &:hover{
            color:$c-text-alt;
        }
    }
}

.block__content{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: 0fr 0fr minmax(0, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin: 50px 75px 50px 75px;
    z-index:-2;

    .block__title{
        grid-column:1/3;
        width:fit-content;
        height:fit-content;
        margin:0;
        position:relative;
        z-index: 1;
        white-space: nowrap;

        &::after{
            content: "";
            display: block;
            position: absolute;
            bottom: 0px;
            height: 40px;
            width: 100%;
            background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)),url(../assets/images/prideflag.jpg);
            background-size:cover;
            z-index: -1;
        }
    }

    .image{
        display:flex;
        grid-column:1/3;
        box-sizing: border-box;
        margin-right:25px;
        margin-top:1em;
        border-bottom: 10px solid $c-accent;
        max-height:600px;

        img{
            width:0;
            height:0;
            object-fit: cover;
            min-width: 100%;
            min-height:100%;
        }
    }

    .block__text{grid-column:3/5;grid-row: 1/5;}
}

.video{
    grid-column:1/5;
    grid-row-start:3;
    background-color: $c-bg-alt;
    margin: 0px -75px 0px -75px;
    color:$c-text-alt;

    border-top: 5px solid $c-accent;
    border-bottom: 5px solid $c-accent;

    .video__content{
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        grid-template-rows: 0fr minmax(0, 1fr);
        margin: 50px 75px 50px 75px;

        video{
            grid-column: 2 / 5;
            grid-row: 1/4;
            display:block;
            width:100%;
            height:100%;
        }

        p{
            grid-column: 2 / 5;
        }

        .video__graph{
            margin-top:-50px;
            margin-bottom:-50px;
            width:25%;
            margin-right:50%;
            grid-column:1/2;
            grid-row: 1/4;
            background-color: $c-accent;
        }
    }
}

.uikit, .uikit--alt{
    grid-column:1/5;
    margin: 0px -75px 0px -75px;
    border-top: 5px solid $c-accent;
    border-bottom: 5px solid $c-accent;
    z-index:-2;

    &.uikit{
        color:$c-text;
        background-color: $c-bg;
        grid-row-start:3;

    }

    &.uikit--alt{
        color:$c-text-alt;
        background-color: $c-bg-alt;
        grid-row-start:5;

    }
}

.uikit__content, .uikit__content--alt{
    grid-column: 1/5;
    margin: 50px 75px 50px 75px;

    &.uikit__content{
        .uikit__title{
            position:relative;
            width:fit-content;
            height:fit-content;
            color: $c-text;

            &::after{
                content: "";
                display: block;
                position: absolute;
                bottom: 0px;
                height: 65px;
                width: 100%;
                background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)),url(../assets/images/prideflag.jpg);
                background-size:cover;
                z-index: -1;
            }
        }

        .uikit__subtitle{
            grid-column:1/3;
            width:fit-content;
            height:fit-content;
            margin:0;
            position:relative;
            z-index: 1;
            color: $c-text;

            &::after{
                content: "";
                display: block;
                position: absolute;
                bottom:0;
                height: 40px;
                width: 100%;
                background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)),url(../assets/images/prideflag.jpg);
                background-size:cover;
                z-index: -1;
            }
        }

        .uikit__button{
            background: none;
            color: $c-text-alt;
            border: none;
            font: inherit;
            cursor: pointer;
            outline: inherit;
            background-color: $c-bg-alt;
            padding: 7px 10px 0px 10px;
        }

        .uikit__button--hover{
            background: none;
            color: $c-text-alt;
            border: none;
            font: inherit;
            cursor: pointer;
            outline: inherit;
            background-color: $c-bg-alt;
            padding: 7px 10px 0px 10px;
            box-shadow: 0px 10px $c-accent;
        }

        .uikit__links{
            grid-column: 1/3;
            display:flex;
            flex-direction: row;
            justify-content: space-evenly;
            list-style: none;

            .links__el--active a{
                text-decoration: none;
                color:$c-text;
                position:relative;
                transition: color .3s;

                &::after{
                    content: "";
                    display: block;
                    position:absolute;
                    width: calc(100% + 20px);
                    left:-10px;
                    bottom:-5px;
                    margin:0;
                    rotate:180deg;
                    border-bottom: 60px solid $c-bg-alt;
                    z-index: -1;
                    transition: border-bottom .3s;
                }
            }

            .links__el--hover a{
                text-decoration: none;
                color:$c-text-alt;
                position:relative;
                transition: color .3s;

                &::after{
                    content: "";
                    display: block;
                    position:absolute;
                    width: calc(100% + 20px);
                    left:-10px;
                    bottom:-5px;
                    margin:0;
                    rotate:180deg;
                    border-bottom: 60px solid $c-bg-alt;
                    z-index: -1;
                    transition: border-bottom .3s;
                }
            }

            .links__el{
                color:$c-text;
            }

            .links__el a{
                text-decoration: none;
                color:$c-text;
                position:relative;
                transition: color .3s;

                &::after{
                    content: "";
                    display: block;
                    position:absolute;
                    width: 100%;
                    bottom:-5px;
                    margin:0;
                    rotate:180deg;
                    border-bottom: 20px solid $c-bg-alt;
                    z-index: -1;
                    transition: border-bottom .3s, width .3s, left .3s, transform .3s;
                }
            }
        }

        .uikit__links--alt{
            grid-column: 1/3;
            display:flex;
            flex-direction: row;
            justify-content: space-evenly;
            list-style: none;

            .links__el--active a{
                text-decoration: none;
                color:$c-bg-alt;
                position:relative;
                transition: color .3s;

                &::after{
                    content: "";
                    display: block;
                    position:absolute;
                    width: calc(100% + 20px);
                    left:-10px;
                    bottom:-5px;
                    margin:0;
                    rotate:180deg;
                    border-bottom: 60px solid $c-accent;
                    z-index: -1;
                    transition: border-bottom .3s;
                }
            }

            .links__el--hover a{
                text-decoration: none;
                color:$c-bg;
                position:relative;
                transition: color .3s;

                &::after{
                    content: "";
                    display: block;
                    position:absolute;
                    width: calc(100% + 20px);
                    left:-10px;
                    bottom:-5px;
                    margin:0;
                    rotate:180deg;
                    border-bottom: 60px solid $c-accent;
                    z-index: -1;
                    transition: border-bottom .3s;
                }
            }

            .links__el{
                color:$c-text;
            }

            .links__el a{
                text-decoration: none;
                color:$c-bg-alt;
                position:relative;
                transition: color .3s;

                &::after{
                    content: "";
                    display: block;
                    position:absolute;
                    width: 100%;
                    bottom:-5px;
                    margin:0;
                    rotate:180deg;
                    border-bottom: 20px solid $c-accent;
                    z-index: -1;
                    transition: border-bottom .3s, width .3s, left .3s, transform .3s;
                }
            }
        }
    }

    &.uikit__content--alt{
        .uikit__title{
            position:relative;
            width:fit-content;
            height:fit-content;
            color: $c-text-alt;

            &::after{
                content: "";
                display: block;
                position: absolute;
                bottom: 0px;
                height: 65px;
                width: 100%;
                background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)),url(../assets/images/prideflag.jpg);
                background-size:cover;
                z-index: -1;
            }
        }

        .uikit__subtitle{
            grid-column:1/3;
            width:fit-content;
            height:fit-content;
            margin:0;
            position:relative;
            z-index: 1;
            color: $c-text-alt;

            &::after{
                content: "";
                display: block;
                position: absolute;
                bottom:0;
                height: 40px;
                width: 100%;
                background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)),url(../assets/images/prideflag.jpg);
                background-size:cover;
                z-index: -1;
            }
        }

        .uikit__button{
            background: none;
            color: $c-bg-alt;
            border: none;
            font: inherit;
            cursor: pointer;
            outline: inherit;
            background-color: $c-bg;
            padding: 7px 10px 0px 10px;
        }

        .uikit__button--hover{
            background: none;
            color: $c-bg-alt;
            border: none;
            font: inherit;
            cursor: pointer;
            outline: inherit;
            background-color: $c-bg;
            padding: 7px 10px 0px 10px;
            box-shadow: 0px 10px $c-accent;
        }

        .uikit__links{
            grid-column: 1/3;
            display:flex;
            flex-direction: row;
            justify-content: space-evenly;
            list-style: none;

            .links__el--active a{
                text-decoration: none;
                color:$c-text;
                position:relative;
                transition: color .3s;

                &::after{
                    content: "";
                    display: block;
                    position:absolute;
                    width: calc(100% + 20px);
                    left:-10px;
                    bottom:-5px;
                    margin:0;
                    rotate:180deg;
                    border-bottom: 60px solid $c-bg;
                    z-index: -1;
                    transition: border-bottom .3s;
                }
            }

            .links__el--hover a{
                text-decoration: none;
                color:$c-bg-alt;
                position:relative;
                transition: color .3s;

                &::after{
                    content: "";
                    display: block;
                    position:absolute;
                    width: calc(100% + 20px);
                    left:-10px;
                    bottom:-5px;
                    margin:0;
                    rotate:180deg;
                    border-bottom: 60px solid $c-bg;
                    z-index: -1;
                    transition: border-bottom .3s;
                }
            }

            .links__el{
                color:$c-text;
            }

            .links__el a{
                text-decoration: none;
                color:$c-text;
                position:relative;
                transition: color .3s;

                &::after{
                    content: "";
                    display: block;
                    position:absolute;
                    width: 100%;
                    bottom:-5px;
                    margin:0;
                    rotate:180deg;
                    border-bottom: 20px solid $c-bg;
                    z-index: -1;
                    transition: border-bottom .3s, width .3s, left .3s, transform .3s;
                }
            }
        }

        .uikit__links--alt{
            grid-column: 1/3;
            display:flex;
            flex-direction: row;
            justify-content: space-evenly;
            list-style: none;

            .links__el--active a{
                text-decoration: none;
                color:$c-text-alt;
                position:relative;
                transition: color .3s;

                &::after{
                    content: "";
                    display: block;
                    position:absolute;
                    width: calc(100% + 20px);
                    left:-10px;
                    bottom:-5px;
                    margin:0;
                    rotate:180deg;
                    border-bottom: 60px solid $c-accent;
                    z-index: -1;
                    transition: border-bottom .3s;
                }
            }

            .links__el--hover a{
                text-decoration: none;
                color:$c-bg-alt;
                position:relative;
                transition: color .3s;

                &::after{
                    content: "";
                    display: block;
                    position:absolute;
                    width: calc(100% + 20px);
                    left:-10px;
                    bottom:-5px;
                    margin:0;
                    rotate:180deg;
                    border-bottom: 60px solid $c-accent;
                    z-index: -1;
                    transition: border-bottom .3s;
                }
            }

            .links__el{
                color:$c-text;
            }

            .links__el a{
                text-decoration: none;
                color:$c-text-alt;
                position:relative;
                transition: color .3s;

                &::after{
                    content: "";
                    display: block;
                    position:absolute;
                    width: 100%;
                    bottom:-5px;
                    margin:0;
                    rotate:180deg;
                    border-bottom: 20px solid $c-accent;
                    z-index: -1;
                    transition: border-bottom .3s, width .3s, left .3s, transform .3s;
                }
            }
        }
    }
}

.credits{
    grid-column:1/5;
    grid-row-start:3;
    background-color: $c-bg-alt;
    margin: 0px -75px 0px -75px;
    color:$c-text-alt;

    border-top: 5px solid $c-accent;
    border-bottom: 5px solid $c-accent;

    .credits__content{
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        grid-template-rows: 0fr 0fr;
        margin: 50px 75px 50px 75px;

        p{
            grid-column: 2 / 5;
        }

        .credits__graph{
            margin-top:-50px;
            margin-bottom:-50px;
            width:25%;
            margin-right:50%;
            grid-column:1/2;
            grid-row: 1/5;
            background-color: $c-accent;
        }

        .credits__title{
            grid-column:2/5;
            width:fit-content;
            height:fit-content;
            margin:0;
            position:relative;
            z-index: 1;
            color:$c-text-alt;

            &::after{
                content: "";
                display: block;
                position: absolute;
                bottom:0;
                height: 40px;
                width: 100%;
                background-color: $c-accent;
                z-index: -1;
            }
        }
    }
}

.contact{
    grid-column:1/5;
    grid-row-start: 3;
    background-color: $c-bg-alt;
    margin: 0px -75px 0px -75px;
    color:$c-text-alt;
    border-top: 5px solid $c-accent;
    border-bottom: 5px solid $c-accent;

    .contact__content{
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        grid-template-rows: 0fr 0fr;
        margin: 50px 75px 50px 75px;

        p{
            grid-column: 1 / 4;
        }

        .contact__graph{
            margin-top:-50px;
            margin-bottom:-50px;
            width:25%;
            margin-left:50%;
            grid-column:4/5;
            grid-row: 1/3;
            background-color: $c-accent;
        }

        .contact__title{
            grid-column:1/4;
            width:fit-content;
            height:fit-content;
            margin:0;
            position:relative;
            z-index: 1;
            color:$c-text-alt;

            &::after{
                content: "";
                display: block;
                position: absolute;
                bottom:0;
                height: 40px;
                width: 100%;
                background-color: $c-accent;
                z-index: -1;
            }
        }
    }

    form{
        grid-column: 1 / 4;
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        li {
            margin:0;
            margin-top: 1em;
        }
        input, textarea {
            font-family: LeagueSpartan;
            font-weight: 400;
            font-size: 0.8rem;
            width: 300px;
            box-sizing: border-box;
            border:0;
            background-color: $c-bg;
            color: $c-bg-alt;
            transition: border-bottom .3s;
            &:focus {
                outline: none;
                border-bottom:10px solid $c-accent;

            }
        }
        label {
            display: inline-block;
            min-width: 9%;
            text-align: right;
        }
        textarea {
            vertical-align: top;
            height: 5em;
        }

        button{
            background: none;
            color: $c-bg-alt;
            border: none;
            box-sizing: border-box;
            font: inherit;
            cursor: pointer;
            outline: inherit;
            background-color: $c-bg;
            padding: 7px 10px 0px 10px;
            transition: box-shadow .3s;

            &:hover{
                background: none;
                color: $c-bg-alt;
                border: none;
                font: inherit;
                cursor: pointer;
                outline: inherit;
                background-color: $c-bg;
                padding: 7px 10px 0px 10px;
                box-shadow: 0px 10px $c-accent;
            }
        }
    }
}

@media (max-width: 1279px) {
    .intro{
        display:grid;
        grid-template-columns: 1fr;
        grid-column-start:1;
        grid-row-start: 3;
        margin: 0px -20px 0px -20px;

        .intro__content{
            margin: 25px 20px 75px 20px;

            p{
                grid-column: 1/5;
            }

            .intro__graph{
                display:none;
            }
        }
    }

    .block--1, .block--2, .block--3, .block--4, .block--5, .block--6{
        grid-column-start:1;
        margin: 0px -20px 0px -20px;
        border-top: 5px solid $c-accent;
        border-bottom: 5px solid $c-accent;

        &.block--1, &.block--3, &.block--5{
            color:$c-text;
            background-color: $c-bg;


            &.block--1{
                grid-row-start: 5;
            }
            &.block--3{
                grid-row-start: 9;
            }
            &.block--5{
                grid-row-start: 13;
            }
        }
        &.block--2, &.block--4, &.block--6{
            color:$c-text-alt;
            background-color: $c-bg-alt;


            .block__title{
                color:$c-text-alt;
            }

            &.block--2{
                grid-row-start: 7;
            }
            &.block--4{
                grid-row-start: 11;
            }
            &.block--6{
                grid-row-start: 15;
            }
        }
    }

    .link--alt, .link{
        &::after{
            border-bottom: 13px solid $c-accent;
        }
        &:hover::after{
            border-bottom: 30px solid $c-accent;
        }
    }

    .block__content{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        margin: 25px 20px 75px 20px;
        z-index:-2;

        .block__title{
            grid-column-start:1;

            &::after{
                height: 25px;
            }
            &:first-of-type{
                grid-row-start: 1;
            }
            &:last-of-type{
                grid-row-start:2;
            }
        }

        .image{
            display:flex;
            align-items: center;
            grid-column-start: 1;
            grid-row-start: 3;
            box-sizing: border-box;
            aspect-ratio: 1 / .4;
            width:100%;

            img{
                height:100%;
                object-fit: cover;
            }
        }

        .block__text{grid-column-start:1;grid-row-start: 4;}
    }

    .video{
        grid-column-start:1;
        grid-row-start:3;
        margin: 0px -20px 0px -20px;

        .video__content{
            display:flex;
            margin: 25px 20px 75px 20px;

            .video__graph{
                display: none;
            }
        }
    }

    .uikit, .uikit--alt{
        grid-column-start:1;
        margin: 0px -20px 0px -20px;
        z-index:-2;

        &.uikit{
            grid-row-start:3;

        }

        &.uikit--alt{
            grid-row-start:5;

        }
    }

    .uikit__content, .uikit__content--alt{
        grid-column-start: 1;
        margin: 25px 20px 75px 20px;

        &.uikit__content{
            .uikit__title{
                &::after{
                    height: 50px;
                }
            }

            .uikit__subtitle{
                &::after{
                    height: 25px;
                }
            }

            .uikit__links{
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                list-style: none;
                padding:0;
                align-items: center;

                .links__el--active{
                    margin-top: 10px;
                    & a{
                        &::after{
                            border-bottom: 45px solid $c-bg-alt;
                        }
                    }
                }

                .links__el--hover{
                    margin-top: 10px;
                    & a{
                        &::after{
                            border-bottom: 45px solid $c-bg-alt;
                        }
                    }
                }

                .links__el{
                    & a{
                        &::after{
                            border-bottom: 15px solid $c-bg-alt;
                        }
                    }
                }
            }

            .uikit__links--alt{
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                list-style: none;
                padding:0;
                align-items: center;

                .links__el--active{
                    margin-top: 10px;
                    & a{
                        &::after{
                            border-bottom: 45px solid $c-accent;
                        }
                    }
                }

                .links__el--hover{
                    margin-top: 10px;
                    & a{
                        &::after{
                            border-bottom: 45px solid $c-accent;
                        }
                    }
                }

                .links__el{
                    & a{
                        &::after{
                            border-bottom: 15px solid $c-accent;
                        }
                    }
                }
            }
        }

        &.uikit__content--alt{
            .uikit__title{
                &::after{
                    height: 50px;
                }
            }

            .uikit__subtitle{
                &::after{
                    height: 25px;
                }
            }

            .uikit__links{
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                list-style: none;
                padding:0;
                align-items: center;

                .links__el--active{
                    margin-top: 10px;
                    & a{
                        &::after{
                            border-bottom: 45px solid $c-bg;
                        }
                    }
                }

                .links__el--hover{
                    margin-top: 10px;
                    & a{
                        &::after{
                            border-bottom: 45px solid $c-bg;
                        }
                    }
                }

                .links__el{
                    & a{
                        &::after{
                            border-bottom: 15px solid $c-bg;
                        }
                    }
                }
            }

            .uikit__links--alt{
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                list-style: none;
                padding:0;
                align-items: center;

                .links__el--active{
                    margin-top: 10px;
                    & a{
                        &::after{
                            border-bottom: 45px solid $c-accent;
                        }
                    }
                }

                .links__el--hover{
                    margin-top: 10px;
                    & a{
                        &::after{
                            border-bottom: 45px solid $c-accent;
                        }
                    }
                }

                .links__el{
                    & a{
                        &::after{
                            border-bottom: 15px solid $c-accent;
                        }
                    }
                }
            }
        }
    }

    .credits{
        grid-column-start:1;
        grid-row-start:3;
        margin: 0px -20px 0px -20px;

        .credits__content{
            display: grid;
            grid-template-columns: 0fr;
            margin: 25px 20px 75px 20px;

            p{
                grid-column-start:1;
            }

            .credits__graph{
                display:none;
            }

            .credits__title{
                grid-column-start:1;
                &::after{
                    height: 25px;
                }
            }
        }
    }

    .contact{
        grid-column-start:1;
        grid-row-start: 3;
        margin: 0px -20px 0px -20px;

        .contact__content{
            display: grid;
            grid-template-columns: 0fr;
            margin: 25px 20px 75px 20px;

            p{
                grid-column: 1 / 4;
            }

            .contact__graph{
                display:none;
            }

            .contact__title{
                grid-column-start:1;

                &::after{
                    height: 25px;
                }
            }
        }

        form{
            grid-column-start: 1;
            button{
                padding: 5px 10px 0px 10px;
                transition: box-shadow .3s;

                &:hover{
                    padding: 5px 10px 0px 10px;
                    box-shadow: 0px 10px $c-accent;
                }
            }
        }
    }
}

@media (min-width:641px){
    .block__list{
        padding:0;
    }
}

@media (min-width: 641px) and (max-width: 1279px) {
    .intro{
        margin: 0px -40px 0px -40px;

        .intro__content{
            margin: 25px 40px 75px 40px;
        }
    }

    .block--1, .block--2, .block--3, .block--4, .block--5, .block--6{
        margin: 0px -40px 0px -40px;
    }

    .link--alt, .link{
        &::after{
            border-bottom: 17px solid $c-accent;
        }
        &:hover::after{
            border-bottom: 45px solid $c-accent;
        }
    }

    .block__content{
        margin: 25px 40px 75px 40px;

        .block__title{

            &::after{
                height: 35px;
            }
        }

        .image{
            aspect-ratio: 1 / .4;
        }
    }

    .video{
        margin: 0px -40px 0px -40px;

        .video__content{
            margin: 25px 40px 75px 40px;
        }
    }

    .uikit, .uikit--alt{
        margin: 0px -40px 0px -40px;
        z-index:-2;
    }

    .uikit__content, .uikit__content--alt{
        margin: 25px 40px 75px 40px;

        &.uikit__content{
            .uikit__title{
                &::after{
                    height: 60px;
                }
            }

            .uikit__subtitle{
                &::after{
                    height: 35px;
                }
            }

            .uikit__links{
                .links__el--active{
                    & a{
                        &::after{
                            border-bottom: 60px solid $c-bg-alt;
                        }
                    }
                }

                .links__el--hover{
                    & a{
                        &::after{
                            border-bottom: 60px solid $c-bg-alt;
                        }
                    }
                }

                .links__el{
                    & a{
                        &::after{
                            border-bottom: 20px solid $c-bg-alt;
                        }
                    }
                }
            }

            .uikit__links--alt{
                .links__el--active{
                    & a{
                        &::after{
                            border-bottom: 60px solid $c-accent;
                        }
                    }
                }

                .links__el--hover{
                    & a{
                        &::after{
                            border-bottom: 60px solid $c-accent;
                        }
                    }
                }

                .links__el{
                    & a{
                        &::after{
                            border-bottom: 20px solid $c-accent;
                        }
                    }
                }
            }
        }

        &.uikit__content--alt{
            .uikit__title{
                &::after{
                    height: 60px;
                }
            }

            .uikit__subtitle{
                &::after{
                    height: 35px;
                }
            }

            .uikit__links{
                .links__el--active{
                    & a{
                        &::after{
                            border-bottom: 60px solid $c-bg;
                        }
                    }
                }

                .links__el--hover{
                    & a{
                        &::after{
                            border-bottom: 60px solid $c-bg;
                        }
                    }
                }

                .links__el{
                    & a{
                        &::after{
                            border-bottom: 20px solid $c-bg;
                        }
                    }
                }
            }

            .uikit__links--alt{
                .links__el--active{
                    & a{
                        &::after{
                            border-bottom: 60px solid $c-accent;
                        }
                    }
                }

                .links__el--hover{
                    & a{
                        &::after{
                            border-bottom: 60px solid $c-accent;
                        }
                    }
                }

                .links__el{
                    & a{
                        &::after{
                            border-bottom: 60px solid $c-accent;
                        }
                    }
                }
            }
        }
    }

    .credits{
        margin: 0px -40px 0px -40px;

        .credits__content{
            margin: 25px 40px 75px 40px;
            .credits__title{
                &::after{
                    height: 35px;
                }
            }
        }
    }

    .contact{
        margin: 0px -40px 0px -40px;

        .contact__content{
            margin: 25px 40px 75px 40px;
            .contact__title{
                &::after{
                    height: 35px;
                }
            }
        }
    }
}

@media (min-width: 961px) and (max-width: 1279px) {
    .parent,.parent-video, .parent-uikit, .parent-credits, .parent-contact {
        margin: 20px 40px 100px 40px;
    }

    .block__content{
        .image{
            img{
                max-height: 40%;
            }
        }
    }
}