@import 'utils/variables';
@import 'components/type';
@import 'uikit';
@import 'sliders';
@import 'contact';
@import 'video';
@import 'credits';

.parent,.parent-video, .parent-uikit, .parent-credits, .parent-contact {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-column-gap: 20px;
    margin: 75px 75px 0px 75px;
    &.parent{
        grid-template-rows: 0fr minmax(50px,0fr) 0fr minmax(50px,0fr) 0fr minmax(50px,0fr) 0fr minmax(50px,0fr) 0fr minmax(50px,0fr) 0fr minmax(50px,0fr) 0fr minmax(50px,0fr);
    }
    &.parent-video{
        grid-template-rows: 0fr minmax(50px,0fr) 0fr minmax(50px,0fr);
    }
    &.parent-uikit{
        grid-template-rows: 0fr minmax(50px,0fr) 0fr minmax(50px,0fr) 0fr minmax(50px,0fr);
    }
    &.parent-credits{
        grid-template-rows: 0fr minmax(50px,0fr) 0fr minmax(50px,0fr);
    }
    &.parent-contact{
        grid-template-rows: 0fr minmax(50px,0fr);
    }
}

.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
    }

.navbar{
    grid-column: 1 / 5;
    grid-row-start: 1;
    display:flex;
    flex-direction: row;

    .nav__title{
        position:relative;

        &::after{
            content: "";
            display: block;
            position: absolute;
            bottom: 0px;
            height: 100px;
            width: 100%;
            background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)),url(../assets/images/prideflag.jpg);
            background-size:cover;
            z-index: -1;
        }

        a{
            color: $c-text;
            text-decoration: none;
        }
    }

    .nav__links{
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-end;
        flex-grow: 1;
        list-style: none;

        .links__el--active a{
            text-decoration: none;
            color:$c-text;
            position:relative;
            transition: color .3s;

            &::after{
                content: "";
                display: block;
                position:absolute;
                width: calc(100% + 20px);
                left:-10px;
                bottom:-5px;
                margin:0;
                rotate:180deg;
                border-bottom: 60px solid $c-bg-alt;
                z-index: -1;
                transition: border-bottom .3s;
            }
            &:hover{
                transition: color .3s;
                color:$c-text-alt;
            }
            &:hover::after{
                border-bottom: 60px solid $c-bg-alt;
                transition: border-bottom .3s;
            }
        }

        .links__el{
            color:$c-text;
        }

        .links__el a{
            text-decoration: none;
            color:$c-text;
            position:relative;
            transition: color .3s;

            &::after{
                content: "";
                display: block;
                position:absolute;
                width: 100%;
                bottom:-5px;
                margin:0;
                rotate:180deg;
                border-bottom: 20px solid $c-bg-alt;
                z-index: -1;
                transition: border-bottom .3s, width .3s, left .3s, transform .3s;
            }
            &:hover{
                transition: color .3s;
                color:$c-text-alt;
            }
            &:hover::after{
                width: calc(100% + 20px);
                border-bottom: 60px solid $c-bg-alt;
                transition: border-bottom .3s, width .3s, left .3s, transform .3s;
                transform: translate(+10px, 0);
            }
        }
    }
}

.intro{
    grid-column:1/5;
    grid-row-start: 3;
    background-color: $c-bg-alt;
    margin: 0px -75px 0px -75px;
    color:$c-text-alt;
    border-top: 5px solid $c-accent;
    border-bottom: 5px solid $c-accent;

    .intro__content{
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        grid-template-rows: 0fr 0fr;
        margin: 50px 75px 50px 75px;

        p{
            grid-column: 1 / 4;
        }

        .intro__graph{
            margin-top:-50px;
            margin-bottom:-50px;
            width:50%;
            margin-left:50%;
            grid-column:4/5;
            grid-row: 1/4;
            background-color: $c-accent;
        }
    }
}

.block--1, .block--2, .block--3, .block--4{
    grid-column:1/5;
    margin: 0px -75px 0px -75px;
    border-top: 5px solid $c-accent;
    border-bottom: 5px solid $c-accent;

    &.block--1, &.block--3{
        color:$c-text;
        background-color: $c-bg;


        &.block--1{
            grid-row-start: 5;
        }
        &.block--3{
            grid-row-start: 9;
        }
    }
    &.block--2, &.block--4{
        color:$c-text-alt;
        background-color: $c-bg-alt;


        .block__titre{
            color:$c-text-alt;
        }

        &.block--2{
            grid-row-start: 7;
        }
        &.block--4{
            grid-row-start: 11;
        }
    }
}

.link-alt{
    text-decoration: none;
    white-space: nowrap;
    color:$c-bg;
    position:relative;
    transition: color .3s;
    z-index:1;
    margin-left:5px;

    &::after{
        content: "";
        display: block;
        position:absolute;
        width: 100%;
        left:0px;
        bottom:-5px;
        margin:0;
        rotate:180deg;
        border-bottom: 17px solid $c-accent;
        z-index:-1;
        transition: border-bottom .3s, width .3s, left .3s, transform .3s;
    }
    &:hover{
        transition: color .3s;
        color:$c-bg-alt;
    }
    &:hover::after{
        width: calc(100% + 20px);
        border-bottom: 43px solid $c-accent;
        transition: border-bottom .3s, width .3s, left .3s, transform .3s;
        transform: translate(+10px, 0);
    }
}

.block__content{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: 0fr 0fr minmax(0, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin: 50px 75px 50px 75px;
    z-index:-2;

    .block__titre{
        grid-column:1/3;
        width:fit-content;
        height:fit-content;
        margin:0;
        position:relative;
        z-index: 1;
        white-space: nowrap;

        &::after{
            content: "";
            display: block;
            position: absolute;
            bottom:0;
            height: 75px;
            width: 100%;
            background-color: $c-accent;
            z-index: -1;
        }
    }

    .image{
        display:flex;
        grid-column:1/3;
        box-sizing: border-box;
        margin-right:25px;
        margin-top:1em;
        border-bottom: 10px solid $c-accent;

        img{
            width:0;
            height:0;
            object-fit: cover;
            min-width: 100%;
            min-height:100%;
        }
    }

    .text{grid-column:3/5;grid-row: 1/5;}
}

.footer,.footer-video,.footer-uikit,.footer-credits,.footer-contact{
    grid-column:1/5;
    background-color: $c-bg;
    margin: 0px -75px 0px -75px;
    color:$c-text;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height:3em;

    &.footer{
        grid-row-start:12;
    }
    &.footer-video{
        grid-row-start:4;
    }
    &.footer-uikit{
        grid-row-start:6;
    }
    &.footer-credits{
        grid-row-start:4;
    }
    &.footer-contact{
        grid-row-start:4;
    }


    p{
        margin: 10px 75px 0px 75px;

        a{
            text-decoration: none;
            color:$c-text;
            transition: .3s;

            &:hover{
                color:$c-text;
                transition: .3s;
            }
        }
    }

    ul{
        display:flex;
        flex-direction: row;
        margin: 10px 75px 0px 75px;
        list-style: none;

        li{
            margin:0;
            a{
                text-decoration: none;
                color:$c-text;
                transition: .3s;

                &:hover{
                    color:$c-text;
                    transition: .3s;
                }
            }
        }

        li:first-of-type{
            margin-right:25px;
        }
    }
}

@media (max-width: 1279px) {
    .parent,.parent-video, .parent-uikit, .parent-credits, .parent-contact {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 0px;
        margin: 20px 20px 80px 20px;
        &.parent{
            grid-template-rows: 0fr minmax(50px, 0fr) 0fr minmax(50px, 0fr) 0fr minmax(50px, 0fr) 0fr minmax(50px, 0fr) 0fr minmax(50px, 0fr) 0fr minmax(50px, 0fr) 0fr;
        }
        &.parent-video{
            grid-template-rows: 0fr minmax(50px,0fr) 0fr minmax(50px,0fr);
        }
        &.parent-uikit{
            grid-template-rows: 0fr minmax(50px,0fr) 0fr minmax(50px,0fr) 0fr minmax(50px,0fr);
        }
        &.parent-credits{
            grid-template-rows: 0fr minmax(50px,0fr) 0fr minmax(50px,0fr);
        }
        &.parent-contact{
            grid-template-rows: 0fr minmax(50px,0fr);
        }
    }

    .navbar{
        display:grid;
        grid-column-start: 1;
        grid-row-start: 1;
        grid-template-rows: 0fr;

        .nav__title{
            grid-row-start: 1;
            width: fit-content;
            margin-left: auto;
            margin-right: auto;

            &::after{
                height: 60px;
            }
        }

        .nav__links{
            position:fixed;
            bottom:0;
            grid-row-start: 2;
            flex-direction: row;
            align-items: center;
            padding:0;
            margin:0;
            box-sizing: border-box;
            background-color: $c-bg;
            height:80px;
            width:100%;
            margin: 0px -20px 0px -20px;
            z-index:40;

            .links__el--active{
                margin:5px;

                & a{
                    &::after{
                        border-bottom: 40px solid $c-bg-alt;
                    }
                    &:hover::after{
                        border-bottom: 40px solid $c-bg-alt;
                    }
                }
            }

            .links__el{
                margin:5px;

                & a{

                    &::after{
                        border-bottom: 15px solid $c-bg-alt;
                    }
                    &:hover::after{
                        border-bottom: 40px solid $c-bg-alt;
                    }
                }
            }
        }
    }

    .intro{
        display:grid;
        grid-template-columns: 1fr;
        grid-column-start:1;
        grid-row-start: 3;
        margin: 0px -20px 0px -20px;

        .intro__content{
            margin: 25px 20px 75px 20px;

            p{
                grid-column: 1/5;
            }

            .intro__graph{
                display:none;
            }
        }
    }

    .block--1, .block--2, .block--3, .block--4{
        grid-column-start:1;
        margin: 0px -20px 0px -20px;
        border-top: 5px solid $c-accent;
        border-bottom: 5px solid $c-accent;

        &.block--1, &.block--3{
            color:$c-text;
            background-color: $c-bg;


            &.block--1{
                grid-row-start: 5;
            }
            &.block--3{
                grid-row-start: 9;
            }
        }
        &.block--2, &.block--4{
            color:$c-text-alt;
            background-color: $c-bg-alt;


            .block__titre{
                color:$c-text-alt;
            }

            &.block--2{
                grid-row-start: 7;
            }
            &.block--4{
                grid-row-start: 11;
            }
        }
    }

    .link-alt{
        &::after{
            border-bottom: 13px solid $c-accent;
        }
        &:hover::after{
            border-bottom: 30px solid $c-accent;
        }
    }

    .block__content{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        margin: 25px 20px 75px 20px;
        z-index:-2;

        .block__titre{
            grid-column-start:1;

            &::after{
                height: 45px;
            }
            &:first-of-type{
                grid-row-start: 1;
            }
            &:last-of-type{
                grid-row-start:2;
            }
        }

        .image{
            display:flex;
            align-items: center;
            grid-column-start: 1;
            grid-row-start: 3;
            box-sizing: border-box;
            aspect-ratio: 1 / .4;
            width:100%;

            img{
                height:100%;
                object-fit: cover;
            }
        }

        .text{grid-column-start:1;grid-row-start: 4;}
    }

    .footer,.footer-video,.footer-uikit,.footer-credits,.footer-contact{
        grid-column-start:1;
        background-color: $c-bg;
        margin: 0px -20px 0px -20px;
        color:$c-text;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 3em;
        font-size: 0.8rem;
        block-size: fit-content;

        &.footer{
            grid-row-start: 12;
        }
        &.footer-video{
            grid-row-start:4;
        }
        &.footer-uikit{
            grid-row-start:6;
        }
        &.footer-credits{
            grid-row-start:4;
        }
        &.footer-contact{
            grid-row-start:4;
        }


        p{
            margin: 10px 0px 0px 20px;

            a{
                text-decoration: none;
                color:$c-text;
                transition: .3s;

                &:hover{
                    color:$c-text;
                    transition: .3s;
                }
            }
        }

        div{
            display:flex;
            flex-direction: row;
            margin: 10px 20px 0px 0px;

            p{
                margin:0;
            }

            p:first-of-type{
                margin-right:10px;
            }
        }
    }
}

@media (min-width: 641px) and (max-width: 1279px) {
    .parent,.parent-video, .parent-uikit, .parent-credits, .parent-contact {
        margin: 20px 40px 0px 40px;
    }

    .navbar{
        .nav__title{
            &::after{
                height: 100px;
            }
        }

        .nav__links{
            position:relative;
            margin-left:auto;
            margin-right:auto;
            .links__el--active{
                margin:5px;

                & a{
                    &::after{
                        border-bottom: 60px solid $c-bg-alt;
                    }
                    &:hover::after{
                        border-bottom: 60px solid $c-bg-alt;
                    }
                }
            }

            .links__el{
                margin:5px;

                & a{

                    &::after{
                        border-bottom: 20px solid $c-bg-alt;
                    }
                    &:hover::after{
                        border-bottom: 60px solid $c-bg-alt;
                    }
                }
            }
        }
    }

    .intro{
        margin: 0px -40px 0px -40px;

        .intro__content{
            margin: 25px 40px 75px 40px;
        }
    }

    .block--1, .block--2, .block--3, .block--4{
        margin: 0px -40px 0px -40px;
    }

    .link-alt{
        &::after{
            border-bottom: 17px solid $c-accent;
        }
        &:hover::after{
            border-bottom: 45px solid $c-accent;
        }
    }

    .block__content{
        margin: 25px 40px 75px 40px;

        .block__titre{

            &::after{
                height: 60px;
            }
        }

        .image{
            aspect-ratio: 1 / .4;
        }
    }

    .footer,.footer-video,.footer-uikit,.footer-credits,.footer-contact{
        margin: 0px -40px 0px -40px;
        block-size: fit-content;
    }
}

@media (min-width: 961px) and (max-width: 1279px) {
    .parent,.parent-video, .parent-uikit, .parent-credits, .parent-contact {
        margin: 20px 40px 100px 40px;
    }

    .block__content{
        .image{
            img{
                max-height: 40%;
            }
        }
    }
}