@import 'utils/variables';
@import 'components/type';

// TODO: RESPONSIVE

.parent,.parent-video, .parent-uikit, .parent-credits, .parent-contact {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-column-gap: 20px;
    margin: 75px 75px 0px 75px;
    &.parent{
        grid-template-rows: 0fr minmax(50px,0fr) 0fr minmax(50px,0fr) 0fr minmax(50px,0fr) 0fr minmax(50px,0fr) 0fr minmax(50px,0fr) 0fr minmax(50px,0fr) 0fr minmax(50px,0fr);
    }
    &.parent-video{
        grid-template-rows: 0fr minmax(50px,0fr) 0fr minmax(50px,0fr);
    }
    &.parent-uikit{
        grid-template-rows: 0fr minmax(50px,0fr) 0fr minmax(50px,0fr) 0fr minmax(50px,0fr);
    }
    &.parent-credits{
        grid-template-rows: 0fr minmax(50px,0fr) 0fr minmax(50px,0fr);
    }
    &.parent-contact{
        grid-template-rows: 0fr minmax(50px,0fr);
    }
}

.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
    }

.container, .container-alt {
    display: flex;
    flex-direction: column;
    align-items: center;

    .slider, .slider-alt {
        position: relative;
        width: min(800px,90vw);
        height: 45vmin;
        overflow: hidden;

        ul{
            margin-block-start: 0;
            margin-block-end: 0;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            padding-inline-start: 0px;
        }
    }

    .slider-arrow, .slider-arrow-alt {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 5;
    }
    .arrow-left, .arrow-left-alt {
        left: .5rem;
        width:2rem;
        height:2rem;
        filter: drop-shadow(0px 5px $c-accent);

        .arrow-left, .arrow-left-alt{
            right: 0;
            width:0;
            height:0;
            filter: none;
            cursor: pointer;
            transition: fill .3s;

            &:hover { fill: $c-accent; }
        }

        .arrow-left{
            fill: $c-text-alt;
        }

        .arrow-left-alt{
            fill: $c-text;
        }
    }

    .arrow-right, .arrow-right-alt {
        right: .5rem;
        width:2rem;
        height:2rem;
        filter: drop-shadow(0px 5px $c-accent);

        .arrow-right, .arrow-right-alt{
            right: 0;
            width:0;
            height:0;
            filter: none;
            cursor: pointer;
            transition: fill .3s;

            &:hover { fill: $c-accent; }
        }

        .arrow-right{
            fill: $c-text-alt;
        }

        .arrow-right-alt{
            fill: $c-text;
        }
    }

    .slider-track, .slider-track-alt {
        height: 100%;
        list-style-type: none;
        display: flex;
        transition: transform 0.8s;
    }

    .slider-slide, .slider-slide-alt {
        display: grid;
        place-items: center;
        min-width: 100%;
        height: inherit;
        text-align:center;
        padding: 0px 80px 0px 80px;
        box-sizing: border-box;
    }

    .slider-icon, .slider-icon-alt { font-size: 2rem; }

    .slider-dot, .slider-dot-alt {
        width: 0.5rem;
        height: 0.5rem;
        border: none;
        cursor: pointer;
        transition: width .3s, background-color .3s;
        box-shadow: 0px 5px $c-accent;

        &:not(:last-child) { margin-right: 0.5rem; }

        &:hover:not(.active) { width: 0.75rem;background-color:$c-accent; }
        &:hover{background-color:$c-accent;}

        &.slider-dot-alt{
            background-color: $c-text;
        }
        &.slider-dot{
            background-color: $c-text-alt;
        }
    }

    .active { width: 2rem; }
}

nav{
    grid-column: 1 / 5;
    grid-row-start: 1;
    display:flex;
    flex-direction: row;

    .nav__title{
        position:relative;

        &::after{
            content: "";
            display: block;
            position: absolute;
            bottom: 0px;
            height: 100px;
            width: 100%;
            background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)),url(../assets/images/prideflag.jpg);
            background-size:cover;
            z-index: -1;
        }

        a{
            color: $c-text;
            text-decoration: none;
        }
    }

    .nav__links{
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-end;
        flex-grow: 1;
        list-style: none;

        .links__el--active a{
            text-decoration: none;
            color:$c-text;
            position:relative;
            transition: color .3s;

            &::after{
                content: "";
                display: block;
                position:absolute;
                width: calc(100% + 20px);
                left:-10px;
                bottom:-5px;
                margin:0;
                rotate:180deg;
                border-bottom: 60px solid $c-bg-alt;
                z-index: -1;
                transition: border-bottom .3s;
            }
            &:hover{
                transition: color .3s;
                color:$c-text-alt;
            }
            &:hover::after{
                border-bottom: 60px solid $c-bg-alt;
                transition: border-bottom .3s;
            }
        }

        .links__el{
            color:$c-text;
        }

        .links__el a{
            text-decoration: none;
            color:$c-text;
            position:relative;
            transition: color .3s;

            &::after{
                content: "";
                display: block;
                position:absolute;
                width: 100%;
                bottom:-5px;
                margin:0;
                rotate:180deg;
                border-bottom: 20px solid $c-bg-alt;
                z-index: -1;
                transition: border-bottom .3s, width .3s, left .3s, transform .3s;
            }
            &:hover{
                transition: color .3s;
                color:$c-text-alt;
            }
            &:hover::after{
                width: calc(100% + 20px);
                border-bottom: 60px solid $c-bg-alt;
                transition: border-bottom .3s, width .3s, left .3s, transform .3s;
                transform: translate(+10px, 0);
            }
        }
    }
}

.intro{
    grid-column:1/5;
    grid-row-start: 3;
    background-color: $c-bg-alt;
    margin: 0px -75px 0px -75px;
    color:$c-text-alt;
    border-top: 5px solid $c-accent;
    border-bottom: 5px solid $c-accent;

    .intro__content{
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        grid-template-rows: 0fr 0fr;
        margin: 50px 75px 50px 75px;

        p{
            grid-column: 1 / 4;
        }

        .intro__graph{
            margin-top:-50px;
            margin-bottom:-50px;
            width:50%;
            margin-left:50%;
            grid-column:4/5;
            grid-row: 1/4;
            background-color: $c-accent;
        }

        .contact__titre{
            grid-column:1/5;
            width:fit-content;
            height:fit-content;
            margin:0;
            position:relative;
            z-index: 1;
            color:$c-text-alt;

            &::after{
                content: "";
                display: block;
                position: absolute;
                bottom:0;
                height: 75px;
                width: 100%;
                background-color: $c-accent;
                z-index: -1;
            }
        }
    }


    table{
        grid-column: 1 / 5;
        border-collapse: collapse;
        th, td {
            border: 2px solid $c-bg;
            padding:25px;
        }

        .col-title, .row-title {
            background-color: $c-bg;
            color: $c-bg-alt;
        }

        .row-title{
            width:20%
        }
    }
}

.block--1, .block--2, .block--3, .block--4{
    grid-column:1/5;
    margin: 0px -75px 0px -75px;
    border-top: 5px solid $c-accent;
    border-bottom: 5px solid $c-accent;

    &.block--1, &.block--3{
        color:$c-text;
        background-color: $c-bg;


        &.block--1{
            grid-row-start: 5;
        }
        &.block--3{
            grid-row-start: 9;
        }
    }
    &.block--2, &.block--4{
        color:$c-text-alt;
        background-color: $c-bg-alt;


        .block__titre{
            color:$c-text-alt;
        }

        &.block--2{
            grid-row-start: 7;
        }
        &.block--4{
            grid-row-start: 11;
        }
    }
}

.link-alt{
    text-decoration: none;
    color:$c-bg;
    position:relative;
    transition: color .3s;
    z-index:1;
    margin-left:5px;

    &::after{
        content: "";
        display: block;
        position:absolute;
        width: 100%;
        left:0px;
        bottom:-5px;
        margin:0;
        rotate:180deg;
        border-bottom: 17px solid $c-accent;
        z-index:-1;
        transition: border-bottom .3s, width .3s, left .3s, transform .3s;
    }
    &:hover{
        transition: color .3s;
        color:$c-bg-alt;
    }
    &:hover::after{
        width: calc(100% + 20px);
        border-bottom: 45px solid $c-accent;
        transition: border-bottom .3s, width .3s, left .3s, transform .3s;
        transform: translate(+10px, 0);
    }
}

.block__content{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: 0fr 0fr minmax(0, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin: 50px 75px 50px 75px;
    z-index:-2;

    .block__titre{
        grid-column:1/3;
        width:fit-content;
        height:fit-content;
        margin:0;
        position:relative;
        z-index: 1;

        &::after{
            content: "";
            display: block;
            position: absolute;
            bottom:0;
            height: 75px;
            width: 100%;
            background-color: $c-accent;
            z-index: -1;
        }
    }

    .image{
        display:flex;
        grid-column:1/3;
        box-sizing: border-box;
        margin-right:25px;
        margin-top:1em;

        img{
            width:0;
            height:0;
            object-fit: cover;
            min-width: 100%;
            min-height:100%;
            border-radius:5px;
        }
    }

    .text{grid-column:3/5;grid-row: 1/5;}
}


.uikit, .uikit--alt{
    grid-column:1/5;
    margin: 0px -75px 0px -75px;
    border-top: 5px solid $c-accent;
    border-bottom: 5px solid $c-accent;
    z-index:-2;

    &.uikit{
        color:$c-text;
        background-color: $c-bg;
        grid-row-start:3;

    }

    &.uikit--alt{
        color:$c-text-alt;
        background-color: $c-bg-alt;
        grid-row-start:5;

    }
}

.uikit__content, .uikit__content--alt{
    grid-column: 1/5;
    margin: 50px 75px 50px 75px;

    &.uikit__content{
        .uikit__title{
            position:relative;
            width:fit-content;
            height:fit-content;
            color: $c-text;

            &::after{
                content: "";
                display: block;
                position: absolute;
                bottom: 0px;
                height: 100px;
                width: 100%;
                background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)),url(../assets/images/prideflag.jpg);
                background-size:cover;
                z-index: -1;
            }
        }

        .uikit__subtitle{
            grid-column:1/3;
            width:fit-content;
            height:fit-content;
            margin:0;
            position:relative;
            z-index: 1;
            color: $c-text;

            &::after{
                content: "";
                display: block;
                position: absolute;
                bottom:0;
                height: 75px;
                width: 100%;
                background-color: $c-accent;
                z-index: -1;
            }
        }

        .uikit__button{
            background: none;
            color: $c-text-alt;
            border: none;
            font: inherit;
            cursor: pointer;
            outline: inherit;
            background-color: $c-bg-alt;
            padding: 7px 10px 0px 10px;
        }

        .uikit__button--hover{
            background: none;
            color: $c-text-alt;
            border: none;
            font: inherit;
            cursor: pointer;
            outline: inherit;
            background-color: $c-bg-alt;
            padding: 7px 10px 0px 10px;
            box-shadow: 0px 10px $c-accent;
        }

        .uikit__links{
            grid-column: 1/3;
            display:flex;
            flex-direction: row;
            justify-content: space-evenly;
            list-style: none;

            .links__el--active a{
                text-decoration: none;
                color:$c-text;
                position:relative;
                transition: color .3s;

                &::after{
                    content: "";
                    display: block;
                    position:absolute;
                    width: calc(100% + 20px);
                    left:-10px;
                    bottom:-5px;
                    margin:0;
                    rotate:180deg;
                    border-bottom: 60px solid $c-bg-alt;
                    z-index: -1;
                    transition: border-bottom .3s;
                }
            }

            .links__el--hover a{
                text-decoration: none;
                color:$c-text-alt;
                position:relative;
                transition: color .3s;

                &::after{
                    content: "";
                    display: block;
                    position:absolute;
                    width: calc(100% + 20px);
                    left:-10px;
                    bottom:-5px;
                    margin:0;
                    rotate:180deg;
                    border-bottom: 60px solid $c-bg-alt;
                    z-index: -1;
                    transition: border-bottom .3s;
                }
            }

            .links__el{
                color:$c-text;
            }

            .links__el a{
                text-decoration: none;
                color:$c-text;
                position:relative;
                transition: color .3s;

                &::after{
                    content: "";
                    display: block;
                    position:absolute;
                    width: 100%;
                    bottom:-5px;
                    margin:0;
                    rotate:180deg;
                    border-bottom: 20px solid $c-bg-alt;
                    z-index: -1;
                    transition: border-bottom .3s, width .3s, left .3s, transform .3s;
                }
            }
        }

        .uikit__links-alt{
            grid-column: 1/3;
            display:flex;
            flex-direction: row;
            justify-content: space-evenly;
            list-style: none;

            .links__el--active a{
                text-decoration: none;
                color:$c-bg-alt;
                position:relative;
                transition: color .3s;

                &::after{
                    content: "";
                    display: block;
                    position:absolute;
                    width: calc(100% + 20px);
                    left:-10px;
                    bottom:-5px;
                    margin:0;
                    rotate:180deg;
                    border-bottom: 60px solid $c-accent;
                    z-index: -1;
                    transition: border-bottom .3s;
                }
            }

            .links__el--hover a{
                text-decoration: none;
                color:$c-bg;
                position:relative;
                transition: color .3s;

                &::after{
                    content: "";
                    display: block;
                    position:absolute;
                    width: calc(100% + 20px);
                    left:-10px;
                    bottom:-5px;
                    margin:0;
                    rotate:180deg;
                    border-bottom: 60px solid $c-accent;
                    z-index: -1;
                    transition: border-bottom .3s;
                }
            }

            .links__el{
                color:$c-text;
            }

            .links__el a{
                text-decoration: none;
                color:$c-bg-alt;
                position:relative;
                transition: color .3s;

                &::after{
                    content: "";
                    display: block;
                    position:absolute;
                    width: 100%;
                    bottom:-5px;
                    margin:0;
                    rotate:180deg;
                    border-bottom: 20px solid $c-accent;
                    z-index: -1;
                    transition: border-bottom .3s, width .3s, left .3s, transform .3s;
                }
            }
        }
    }

    &.uikit__content--alt{
        .uikit__title{
            position:relative;
            width:fit-content;
            height:fit-content;
            color: $c-text-alt;

            &::after{
                content: "";
                display: block;
                position: absolute;
                bottom: 0px;
                height: 100px;
                width: 100%;
                background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)),url(../assets/images/prideflag.jpg);
                background-size:cover;
                z-index: -1;
            }
        }

        .uikit__subtitle{
            grid-column:1/3;
            width:fit-content;
            height:fit-content;
            margin:0;
            position:relative;
            z-index: 1;
            color: $c-text-alt;

            &::after{
                content: "";
                display: block;
                position: absolute;
                bottom:0;
                height: 75px;
                width: 100%;
                background-color: $c-accent;
                z-index: -1;
            }
        }

        .uikit__button{
            background: none;
            color: $c-bg-alt;
            border: none;
            font: inherit;
            cursor: pointer;
            outline: inherit;
            background-color: $c-bg;
            padding: 7px 10px 0px 10px;
        }

        .uikit__button--hover{
            background: none;
            color: $c-bg-alt;
            border: none;
            font: inherit;
            cursor: pointer;
            outline: inherit;
            background-color: $c-bg;
            padding: 7px 10px 0px 10px;
            box-shadow: 0px 10px $c-accent;
        }

        .uikit__links{
            grid-column: 1/3;
            display:flex;
            flex-direction: row;
            justify-content: space-evenly;
            list-style: none;

            .links__el--active a{
                text-decoration: none;
                color:$c-text;
                position:relative;
                transition: color .3s;

                &::after{
                    content: "";
                    display: block;
                    position:absolute;
                    width: calc(100% + 20px);
                    left:-10px;
                    bottom:-5px;
                    margin:0;
                    rotate:180deg;
                    border-bottom: 60px solid $c-bg;
                    z-index: -1;
                    transition: border-bottom .3s;
                }
            }

            .links__el--hover a{
                text-decoration: none;
                color:$c-bg-alt;
                position:relative;
                transition: color .3s;

                &::after{
                    content: "";
                    display: block;
                    position:absolute;
                    width: calc(100% + 20px);
                    left:-10px;
                    bottom:-5px;
                    margin:0;
                    rotate:180deg;
                    border-bottom: 60px solid $c-bg;
                    z-index: -1;
                    transition: border-bottom .3s;
                }
            }

            .links__el{
                color:$c-text;
            }

            .links__el a{
                text-decoration: none;
                color:$c-text;
                position:relative;
                transition: color .3s;

                &::after{
                    content: "";
                    display: block;
                    position:absolute;
                    width: 100%;
                    bottom:-5px;
                    margin:0;
                    rotate:180deg;
                    border-bottom: 20px solid $c-bg;
                    z-index: -1;
                    transition: border-bottom .3s, width .3s, left .3s, transform .3s;
                }
            }
        }

        .uikit__links-alt{
            grid-column: 1/3;
            display:flex;
            flex-direction: row;
            justify-content: space-evenly;
            list-style: none;

            .links__el--active a{
                text-decoration: none;
                color:$c-text-alt;
                position:relative;
                transition: color .3s;

                &::after{
                    content: "";
                    display: block;
                    position:absolute;
                    width: calc(100% + 20px);
                    left:-10px;
                    bottom:-5px;
                    margin:0;
                    rotate:180deg;
                    border-bottom: 60px solid $c-accent;
                    z-index: -1;
                    transition: border-bottom .3s;
                }
            }

            .links__el--hover a{
                text-decoration: none;
                color:$c-bg-alt;
                position:relative;
                transition: color .3s;

                &::after{
                    content: "";
                    display: block;
                    position:absolute;
                    width: calc(100% + 20px);
                    left:-10px;
                    bottom:-5px;
                    margin:0;
                    rotate:180deg;
                    border-bottom: 60px solid $c-accent;
                    z-index: -1;
                    transition: border-bottom .3s;
                }
            }

            .links__el{
                color:$c-text;
            }

            .links__el a{
                text-decoration: none;
                color:$c-text-alt;
                position:relative;
                transition: color .3s;

                &::after{
                    content: "";
                    display: block;
                    position:absolute;
                    width: 100%;
                    bottom:-5px;
                    margin:0;
                    rotate:180deg;
                    border-bottom: 20px solid $c-accent;
                    z-index: -1;
                    transition: border-bottom .3s, width .3s, left .3s, transform .3s;
                }
            }
        }
    }
}

.video{
    grid-column:1/5;
    grid-row-start:3;
    background-color: $c-bg-alt;
    margin: 0px -75px 0px -75px;
    color:$c-text-alt;

    border-top: 5px solid $c-accent;
    border-bottom: 5px solid $c-accent;

    .video__content{
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        grid-template-rows: 0fr minmax(0, 1fr);
        margin: 50px 75px 50px 75px;

        video{
            grid-column: 2 / 5;
            grid-row: 1/4;
            display:block;
            width:100%;
            height:100%;
        }

        p{
            grid-column: 2 / 5;
        }

        .video__graph{
            margin-top:-50px;
            margin-bottom:-50px;
            width:50%;
            margin-right:50%;
            grid-column:1/2;
            grid-row: 1/4;
            background-color: $c-accent;
        }
    }
}

.credits{
    grid-column:1/5;
    grid-row-start:3;
    background-color: $c-bg-alt;
    margin: 0px -75px 0px -75px;
    color:$c-text-alt;

    border-top: 5px solid $c-accent;
    border-bottom: 5px solid $c-accent;

    .credits__content{
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        grid-template-rows: 0fr 0fr;
        margin: 50px 75px 50px 75px;

        p{
            grid-column: 2 / 5;
        }

        .credits__graph{
            margin-top:-50px;
            margin-bottom:-50px;
            width:50%;
            margin-right:50%;
            grid-column:1/2;
            grid-row: 1/5;
            background-color: $c-accent;
        }

        .credits__titre{
            grid-column:2/5;
            width:fit-content;
            height:fit-content;
            margin:0;
            position:relative;
            z-index: 1;
            color:$c-text-alt;

            &::after{
                content: "";
                display: block;
                position: absolute;
                bottom:0;
                height: 75px;
                width: 100%;
                background-color: $c-accent;
                z-index: -1;
            }
        }
    }
}

.contact{
    grid-column:1/5;
    grid-row-start: 3;
    background-color: $c-bg-alt;
    margin: 0px -75px 0px -75px;
    color:$c-text-alt;
    border-top: 5px solid $c-accent;
    border-bottom: 5px solid $c-accent;

    .contact__content{
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        grid-template-rows: 0fr 0fr;
        margin: 50px 75px 50px 75px;

        p{
            grid-column: 1 / 4;
        }

        .contact__graph{
            margin-top:-50px;
            margin-bottom:-50px;
            width:50%;
            margin-left:50%;
            grid-column:4/5;
            grid-row: 1/3;
            background-color: $c-accent;
        }

        .contact__titre{
            grid-column:1/4;
            width:fit-content;
            height:fit-content;
            margin:0;
            position:relative;
            z-index: 1;
            color:$c-text-alt;

            &::after{
                content: "";
                display: block;
                position: absolute;
                bottom:0;
                height: 75px;
                width: 100%;
                background-color: $c-accent;
                z-index: -1;
            }
        }
    }


    table{
        grid-column: 1 / 5;
        border-collapse: collapse;
        th, td {
            border: 2px solid $c-bg;
            padding:25px;
        }

        .col-title, .row-title {
            background-color: $c-bg;
            color: $c-bg-alt;
        }

        .row-title{
            width:20%
        }
    }

    form{
        grid-column: 1 / 4;
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        li {
            margin:0;
            margin-top: 1em;
        }
        input, textarea {
            font-family: LeagueSpartan;
            font-weight: 400;
            font-size: 0.8rem;
            width: 300px;
            box-sizing: border-box;
            border:0;
            background-color: $c-bg;
            color: $c-bg-alt;
            transition: border-bottom .3s;
            &:focus {
                outline: none;
                border-bottom:10px solid $c-accent;

            }
        }
        label {
            display: inline-block;
            min-width: 9%;
            text-align: right;
        }
        textarea {
            vertical-align: top;
            height: 5em;
        }

        button{
            background: none;
            color: $c-bg-alt;
            border: none;
            box-sizing: border-box;
            font: inherit;
            cursor: pointer;
            outline: inherit;
            background-color: $c-bg;
            padding: 7px 10px 0px 10px;
            transition: box-shadow .3s;

            &:hover{
                background: none;
                color: $c-bg-alt;
                border: none;
                font: inherit;
                cursor: pointer;
                outline: inherit;
                background-color: $c-bg;
                padding: 7px 10px 0px 10px;
                box-shadow: 0px 10px $c-accent;
            }
        }
    }
}

.footer,.footer-video,.footer-uikit,.footer-credits,.footer-contact{
    grid-column:1/5;
    background-color: $c-bg;
    margin: 0px -75px 0px -75px;
    color:$c-text;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height:3em;

    &.footer{
        grid-row-start:12;
    }
    &.footer-video{
        grid-row-start:4;
    }
    &.footer-uikit{
        grid-row-start:6;
    }
    &.footer-credits{
        grid-row-start:4;
    }
    &.footer-contact{
        grid-row-start:4;
    }


    p{
        margin: 10px 75px 0px 75px;

        a{
            text-decoration: none;
            color:$c-text;
            transition: .3s;

            &:hover{
                color:$c-text;
                transition: .3s;
            }
        }
    }

    div{
        display:flex;
        flex-direction: row;
        margin: 10px 75px 0px 75px;

        p{
            margin:0;
        }

        p:first-of-type{
            margin-right:25px;
        }
    }
}